* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000;
}

.container {
    margin: 20px 32px;
    display: flex;
    justify-content: space-around;
    column-gap: 32px;
}

.recommendation-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#recommendation-list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.recommendation_item {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.video {
    padding: 0;
}

#video-container {
    width: 800px;
    height: 600px;
    position: relative;
}

#half-screen-video-container {
    width: 640px;
    height: 480px;
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pose-video {
    transform: scaleX(-1);
}